body {
    font-family: "Poppins",
        sans-serif;
    background-color: aqua;
    max-width: 1280px;
    margin: 0 auto;
}

.carrossel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.informacoes {
    display: none;
}

.informacoes.ativa {
    display: block;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

@font-face {
    font-family: TB;
    src: url("../fontes/TB.ttf");
}

.informacoes h1 {
    font-size: 55px;
    color: red; /* Cor do preenchimento do texto */
    margin-bottom: 10px;
    font-family: 'TB', sans-serif; /* Fonte personalizada */
    letter-spacing: 8px;
    -webkit-text-stroke: 0.1px #FFFFFF; /* Contorno branco de 2px */
    padding: 10px;
    text-align: left;
}


.informacoes .descricao {
    width: 49%;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 40px;
    height: 300PX;
    overflow: auto;
    padding-right: 15px;
}

.botoes-carrossel {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoes-carrossel .botao {
    background-color: #FFFFFF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: progress;
    border-color: #FFFFFF;
}

.botoes-carrossel .botao.selecionado {
    background-color: #1d8346;

}

.imagem {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: none;
}

.imagem.ativa {
    display: block;
    animation: mudarImagem 0.7s;

}

@keyframes mudarImagem {
    from {
        opacity: 0.85;
    }

    to {
        opacity: 1;
    }
}

main:after {
    content: "";
    min-height: 100vh;
    width: 100vw;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(120deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
    z-index: -1;
}
